.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  padding: 0 40px;
  color: white;
  cursor: pointer;
}
.logo {
  width: 100px;
}
.logo .logoImg {
  width: 100%;
  height: auto;
}

.header .video {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.header .video video {
  width: 100%;
}
.header .content {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-bottom: 100px;
  flex-direction: column;
}
.header .content .title {
  font-size: 4em;
}
.header .content .subtitle {
  font-size: 1.3em;
  font-family: casas-italic;
}
.videos {
  display: flex;
  cursor: pointer;
}
.videos .left {
  width: 50%;
}
.videos .right {
  width: 50%;
}
.videos .content {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-bottom: 50px;
  flex-direction: column;
  transition-duration: 2s;
  z-index: 2;
}
.videos .content:hover {
  opacity: 0.5;
  transition-duration: 1s;
}
.videos .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.337);
  z-index: 1;
  transition-duration: 1s;
}
.videos .videoType1:hover .overlay {
  background-color: rgba(0, 0, 0, 0);
  transition-duration: 0.5s;
}
.videos .videoType2:hover .overlay {
  background-color: rgba(0, 0, 0, 0);
  transition-duration: 0.5s;
}
.videos .videoType3:hover .overlay {
  background-color: rgba(0, 0, 0, 0);
  transition-duration: 0.5s;
}
.videos .videoType4:hover .overlay {
  background-color: rgba(0, 0, 0, 0);
  transition-duration: 0.5s;
}
.videos .content .title {
  font-size: 2em;
  font-family: casas;
}
.videos .content .subtitle {
  font-size: 0.8em;
  font-family: casas-italic;
}
.videos .videoType1 {
  height: 300px;
  overflow: hidden;
  position: relative;
}
.videos .videoType1 video {
  width: 100%;
}
.videos .videoType2 {
  height: 350px;
  overflow: hidden;
  position: relative;
}
.videos .videoType2 video {
  width: 100%;
}
.videos .videoType3 {
  height: 250px;
  overflow: hidden;
  position: relative;
}
.videos .videoType3 video {
  width: 100%;
}
.videos .videoType4 {
  height: 280px;
  overflow: hidden;
  position: relative;
}
.videos .videoType4 video {
  width: 100%;
}
.portafolio {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100vh;
  z-index: 998;
  justify-content: center;
  display: flex;
  align-items: center;
}
.portafolio .clientes {
  display: flex;
}
.portafolio .link {
  display: block;
  font-size: 1.5em;
  padding: 4px 20px;
}
.portafolio .link:hover {
  opacity: 0.5;
}
.footer {
  background-color: black;
  padding: 3em 0;
  color: #646464;
  text-align: center;
  font-size: 0.8em;
}
