.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  padding: 0 40px;
  color: white;
  cursor: pointer;
}
.logo {
  width: 100px;
}
.logo .logoImg {
  width: 100%;
  height: auto;
}
